body {
    background-color: rgba(240, 240, 240, 0.3);
}

.jumbotron {
    width: 60%;
    margin: 5% auto 0;
}

.display-4 {
    text-align: center;
}

.container.social {
    width: fit-content;
}

.container {
    margin-top: 5%;
}

.container .list-group .list-group-item .btn-group{
    width: 100%;
}

.btn-group a{
    width: 30%;
}
.container.profile-info {
    width: 15%;
    margin-left: 5%;
    padding-top: 10px;
}

.container.profile-info p {
    text-align: center;
}

.img-thumbnail {
    width: 100%;
    margin-bottom: 10px;
}

.container.user-info {
    width: 65%;
    margin-left: 2%;
    padding-top: 10px;
}

.container.user-info h2 {
    margin-bottom: 20px;
}

.container.user-info, .container.profile-info {
    float: left;
}

.back {
    float: right;
}

.container iframe {
    float: right;
    height: 200px;
    width: 100%;
}

.container.post-info, .container.user-info, .container.profile-info {
    border-radius: 10px;
    background-color: rgba(230, 230, 230, 1);
}

.container.post-info {
    width: 75%;
    padding: 20px 30px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.container.post-info img[src=""] {
    display: none;
}

.align {
    margin-left: 10px;
}

.container.post-info img {
    width: 40%;
    display: block;
    margin: 0 auto 10px auto;
}

.container .new {
    margin-bottom: 10px;
    float: left;
    position: absolute;
}

textarea {
    resize: none;
}

.center {
    width: fit-content;
    margin: 0 auto;
}

.next, .prev {
    display: none;
}

.form-row {
    width: 70%;
    margin: 0 auto;
}

.error.len {
    display: block;
}

.pagination.len {
    display: none;
}

.error {
    text-align: center;
    display: none;
}

.searchSmall {
    position: relative;
    float: right;
}

.pag {
    margin-top: 10px;
}

.name {
    margin-left: 10px;
}

.btn-center {
    float: right;
    margin: 5px 5px;
}

.comment .btn-center {
    display: none;
}

.comment:hover .btn-center {
    display: block;
}