body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Arimo', sans-serif;
    background-color: rgba(159, 164, 173, 0.25);
    width: 100%;
    height: 100%;
}

/* * {
    border: 1px solid rebeccapurple;
} */
.users {
    border-spacing: 0;
    height: 50%;
}

.users th, .users td {
    width: 10%;
    text-align: center;
    padding: 0;
    height: 2.5em;
    border-bottom: 2px solid rgba(159, 164, 173, 0.5);
}

.users td a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    outline: none;
}

.users td a:hover {
    background-color: rgba(159, 164, 173, 0.5);
}

.nav-bar {
    width: 100%;
    background-color: #0A67F3;
    padding: 0;
    margin: 0;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 100;
}


.nav-list {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-item, .nav-logo, .nav-name {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: -0.65%;
}

.nav-item{
    padding: 1.4% 1.5%;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-left: -0.5%;
}

.nav-item:hover, .active {
    background: #5697ff;
    box-shadow: inset -2px 2px 2px rgba(0, 0, 0, 0.3), inset 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.nav-list a {
    text-decoration: none;
    color: white;
}

.nav-logo {
    position: relative;
    top: 1em;
    margin-left: 1%;
}

.nav-logo img {
    height: 3em;
    width: 4em;
}

.nav-name {
    margin-right: 20px;
    position: relative;
    top: 0.1em;
    text-decoration: none;
    color: white;
}

.container {
    display: block;
    color: black;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 1% 2.5%;
    margin-top: 1%;
    background-color: white;
    border-radius: 1.5%;
    position: relative;
    top: 4em;
}

.container p {
    display: block;
    text-align: left;
}

.container h1 {
    text-align: center;
    margin-top: 8%;
    margin-bottom: 11%;
    font-size: 2.5em;
}

.container ul {
    list-style: none;
}

.container ul li {
    display: block;
    width: 100%;
    /* border-bottom: 2px solid rgba(159, 164, 173, 0.5); */
}

.container ul a {
    border-bottom: none;
}

.container hr {
    color: rgba(159, 164, 173, 0.5);
    background-color: rgba(159, 164, 173, 0.5);
}

.container .back:hover {
    background-color: white;
}

.container a {
    text-decoration: none;
    display: block;
    width: fit-content;
    color: black;
    border-bottom: 2px solid rgba(159, 164, 173, 0.5);
    padding: 1% 1%;
    outline: none;
}

.container a:hover {
    background-color: rgba(159, 164, 173, 0.5);
}

.container small {
    color: rgba(159, 164, 173, 0.7);
    font-style: italic;
    margin: 0;
    padding: 0;
}

.container h4 {
    margin: 1.5% 0;
    padding: 0;
}

.container img {
    height: 90%;
    width: 90%;
    margin-left: 5%;
}

.container .comment {
    width: 90%;
    margin-left: 4.8%;
    resize: none;
    border: 1px solid rgba(159, 164, 173, 0.5);
    border-radius: 4px;
    padding: 1%;
}

.container .comment:focus {
    border: 2px solid rgba(159, 164, 173, 0.5); 
    box-shadow: inset -2px 0 2px rgba(0, 0, 0, 0.3), inset 2px 0 2px rgba(0, 0, 0, 0.3);
}

.container .img-info {
    margin: 1% 0;
}

.container .img-info small {
    display: inline-block;
}

.container .img-info small {
    margin-left: 1.2%;
}

.container .img-info small:first-child {
    margin-left: 0;
}

.container a:last-child {
    border-bottom: none;
}

.container .send {
    margin-right: 2.8%;
    width: 10%;
    float: right;
    background: rgba(159, 164, 173, 0.5);
    border: none;
    padding: 0.5% 1%;
    margin-top: 0.5%;
    border-radius: 4px;
}

.container .send:hover {
    background: rgba(159, 164, 173, 0.9);
}

.container .comments {
    display: block;
    width: 100%;
    margin-top: 5%;
}

.container .comments li {
    width: 97%;
    border-bottom: 0.5px solid rgba(159, 164, 173, 0.3);
    margin-top: 1%;
}

.container .back-posts {
    float: right;
    display: block;
    height: 10px;
    border-bottom: none;
    margin: 0.5% 0;
    padding: 0; 
    outline: none;
}

.container .back-posts:hover {
    background-color: white;
}

.container .comments p {
    text-align: left;
    margin: 1% 0;
    padding: 0;
}

.container .comments small {
    display: inline-block;
}

.container .comments small:nth-of-type(2) {
    margin-left: 1%;
}

.container .comments small a{
    color: #0894ad;
    margin: 1% 0;
    padding: 0;
}

.container .comments small a:hover {
    background-color: white;
}

.container .bio {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 2.5em;
}

.container .social-list {
    display: block;
    list-style: none;
    position: relative;
    left: 35%;
}

.container .social {
    display: inline-block;
    margin: 0 0.3%;
    width: 5%;
}

.container .social img{
    height: 2.5em;
    width: 2.5em;
}

.avatar {
    display: block;
    float: left;
    height: 50%;
    width: 15%;
    margin: 1% 6%;
    margin-right: 2%;
    padding: 0;
    background-color: white;
    border-radius: 5%;
    color: black;
    position: relative;
    top: 2.8em;
}

.avatar img {
    width: 90%;
    height: 75%;
    margin: 5% 5%;
    border-radius: 5%;
}

.fullname {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: -1%;
    font-size: 1.5em;
    margin-bottom: 1%;
}

.login, .regist {
    display: inline-block;
    text-align: center;
    margin-top: -5%;
}

.login {
    width: 30%;
    margin-left: 4%;
}

.regist {
    width: 60%;
    font-size: 0.8em;
}

.back {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 0.5%;
    outline: none;
}

.container h2 {
    text-align: center;
}

.container .contacts {
    display: block;
    width: 50%;
    color: black;
    margin: 5% 2%;
    padding: 0;
}

.container .about {
    text-align: center;
}

.container .contacts .link a {
    margin: 0;
    padding: 0;
    display: inline;
    color: #0894ad;
}

.container .contacts .link a:hover {
    background: none;
}

.container .contacts ul {
    list-style: inside;
    margin: 0;
    padding: 0;
}

.container .contacts .address {
    font-style: italic;
}

.container .contacts p {
    text-align: left;
}

.container .tasks-list a {
    width: 98%;
    display: block;
}

.container .tasks-list a:hover {
    background-color: rgba(159, 164, 173, 0.5);
    padding-left: 15px;
}

.tasks-list a::before {
    content: ">";
    float: left;
    margin-right: 5px;
}

.container .desc {
    text-align: center;
}