.navbar {
    font-size: 1.05rem;
}

.navbar .btn-outline-light {
    border: none;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}

body > .container {
    padding: 80px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.jumbotron {
    width: 60%;
    margin: 0 auto;
}

.container.social {
    width: fit-content;
    margin: 0 auto;
}

.map {
    width: 100%;
}

.signin {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.signin .container {
    text-align: center;
}

.error {
    color: red;
    margin-top: 10px;
}

.container.profile, .container.socialnets {
    width: 20%;
}

.user-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

textarea {
    resize: none;
}

.pagination.len {
    display: none;
}

.center {
    width: fit-content;
    margin: 0 auto;
}

.list-group, .pag {
    width: 100%;
}

.pag {
    margin-top: 10px;
}

.next, .prev {
    display: none;
}

.remedit {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.remedit .btn-danger {
    margin-left: 10px;
}